apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}
  labels:
    app: flohmarkt
spec:
  type: ClusterIP
  selector:
    app: flohmarkt
  ports:
    - port: 80
      targetPort: 8000
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-couchdb
spec:
  ports:
    - port: 5984
      targetPort: 5984
  selector:
    app: {{ .Release.Name }}-couchdb