.python-version
*.swp
*.tgz
defaults
.idea
*.tfstate
*.tfstate.backup
.terraform*
.terragrunt*
*.~undo-tree~
argocd-helm-charts/sonarqube/charts/sonarqube/charts/ingress-nginx/
argocd-helm-charts/sonarqube/charts/sonarqube/charts/postgres/
