{{- if .Values.alertmanager.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: Alertmanager
metadata:
  name: alertmanager
  namespace: {{ template "prometheus-linuxaid.namespace" . }}
spec:
  replicas: 1
  resources:
    limits:
      memory: 50Mi
    requests:
      cpu: 10m
      memory: 20Mi
  securityContext:
    fsGroup: 2000
    runAsNonRoot: true
    runAsUser: 1000
  serviceAccountName: alertmanager-main
  portName: web
  version: {{ .Values.alertmanager.version }}
  configSecret: alertmanager-config
  secrets:
  {{- range .Values.alertmanager.secrets }}
  - {{ . }}
  {{- end }}
{{- end }}
