apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana-{{ .Values.customerid }}
  namespace: monitoring-{{ .Values.customerid }}
  labels:
    dashboards: "grafana"
spec:
  config:
    log:
      mode: "console"
    auth:
      disable_login_form: "false"
    security:
      admin_user: root
      admin_password: secret
