postgresql:
  instance: 1
  size: 2Gi
  recover: false
  bootstrap:
    initdb:
      database: peertube
      owner: peertube
  resources:
    limits:
      memory: 256Mi
    requests:
      memory: 256Mi
      cpu: 100m

redisCluster:
  replicas: 1
  name: peertube-redis
  storage: 4Gi
  image: quay.io/opstree/redis:v7.2.6
  imagePullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 101m
      memory: 128Mi
    limits:
      memory: 256Mi 

peertube:
  ingress:
    enabled: false

  config:
    serverName: peertube.example.com
    admin:
      email:  "admin@example.com"
    mail:
      hostname: webmail.example.com

  postgresql:
    enabled: false

  redis:
    enabled: false

  externalPostgresql:
    host: "peertube-pgsql-rw"
    existingSecret: "peertube-pgsql-app"
    existingSecretKey: password