apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: puppetserver-{{ .Values.customerid }}
spec:
  entryPoints:
    - websecure
  routes:
  - match: HostSNI(`{{ .Values.puppetserver.puppetserver.masters.fqdns.alternateServerNames }}`)
    priority: 10
    services:
    - name: puppetserver-{{ .Values.customerid }}-puppet
      port: puppetserver
  tls:
    passthrough: true
