annotations:
  artifacthub.io/changes: |
    - kind: changed
      description: "Update Chart's version 10.8.1"
    - kind: changed
      description: "Upgrade SonarQube Server to 10.8.1"
    - kind: changed
      description: "Remove immutable labels selector 'app.kubernetes.io/name' and 'app.kubernetes.io/version' as it breaks upgrades"
    - kind: changed
      description: "Set 'image.tag' empty in default value file, 'image.tag' is dynamically set according to the 'edition' and 'community' fields, with user-defined value taking precedence."
  artifacthub.io/containsSecurityUpdates: "false"
  artifacthub.io/images: |
    - name: sonarqube
      image: sonarqube:24.12.0.100206-community
  artifacthub.io/links: |
    - name: support
      url: https://community.sonarsource.com/
    - name: Chart Source
      url: https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube
  charts.openshift.io/name: sonarqube
apiVersion: v2
appVersion: 10.8.1
dependencies:
- condition: postgresql.enabled
  name: postgresql
  repository: https://raw.githubusercontent.com/bitnami/charts/archive-full-index/bitnami
  version: 10.15.0
- condition: nginx.enabled,ingress-nginx.enabled
  name: ingress-nginx
  repository: https://kubernetes.github.io/ingress-nginx
  version: 4.11.2
description: SonarQube is a self-managed, automatic code review tool that systematically
  helps you deliver clean code. As a core element of our Sonar solution, SonarQube
  integrates into your existing workflow and detects issues in your code to help you
  perform continuous code inspections of your projects. The tool analyses 30+ different
  programming languages and integrates into your CI pipeline and DevOps platform to
  ensure that your code meets high-quality standards.
home: https://www.sonarqube.org/
icon: https://raw.githubusercontent.com/SonarSource/sonarqube-static-resources/master/helm/SonarQubeServerLogo.png
keywords:
- coverage
- security
- code
- quality
kubeVersion: '>= 1.24.0-0'
maintainers:
- email: carmine.vassallo@sonarsource.com
  name: carminevassallo
- email: jeremy.cotineau@sonarsource.com
  name: jCOTINEAU
- email: davi.koscianski-vidal@sonarsource.com
  name: davividal
name: sonarqube
sources:
- https://github.com/SonarSource/helm-chart-sonarqube/tree/master/charts/sonarqube
- https://github.com/SonarSource/docker-sonarqube
- https://github.com/SonarSource/sonarqube
type: application
version: 10.8.1
