zfs-localpv:
  zfsNode:
    nodeSelector:
      disk: nvme
    tolerations: []
    securityContext: {}
    labels: {}
    priorityClass:
      create: true
      name: zfs-csi-node-critical

  # zfsController contains the configurables for
  # the zfs controller statefulset
  zfsController:
    nodeSelector:
      disk: nvme
    tolerations: []
    securityContext: {}
    priorityClass:
      create: true
      name: zfs-csi-controller-critical

# poolname must be provided and should be same as the zfs pool created on node for storageclass to be correctly configured.
# reclaimPolicy is for storageClass, could be Delete(default) or Retain.
storageClass:
  enabled: true
  poolName: nvmelocal
  reclaimPolicy: {}
