---
sealed-secrets:
  revisionHistoryLimit: "0"
  namespace: system
  resources:
    limits:
      memory: 32Mi
    requests:
      cpu: 1m
      memory: 8Mi
  containerSecurityContext:
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]
    seccompProfile:
      type: RuntimeDefault
  fullnameOverride: sealed-secrets-controller
networkpolicies: false
backup:
  enabled: false
  schedule: "5 4 * * *"
  image: ghcr.io/obmondo/backup-sealed-secrets-keys@sha256:7e409526cd68d09ccb7519cfbd92120e9425d6c459d11b2e6af1c20c7f177c17
  namespace: system
  provider: aws
