{{- if .Values.gfetch.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "puppetserver.name" . }}-gfetch
data:
  config.yaml: |
    defaults:
      {{- with .Values.gfetch.defaults.ssh_known_hosts }}
      ssh_known_hosts: |
        {{- . | nindent 6 }}
      {{- end }}
      {{- if .Values.gfetch.defaults.openvox }}
      openvox: {{ .openvox }}
      {{- end }}
      {{- if .Values.gfetch.defaults.poll_interval }}
      poll_interval: {{ .Values.gfetch.defaults.poll_interval | quote }}
      {{- end }}
      {{- with .Values.gfetch.defaults.branches }}
      branches:
        {{- range . }}
        - {{ . | quote }}
        {{- end }}
      {{- end }}
      {{- with .Values.gfetch.defaults.tags }}
      tags:
        {{- range . }}
        - {{ . | quote }}
        {{- end }}
      {{- end }}
    repos:
    {{- range .Values.gfetch.repos }}
      - name: {{ .name | quote }}
        url: {{ .url | quote }}
        {{- if .ssh_key_path }}
        ssh_key_path: {{ .ssh_key_path | quote }}
        {{- end }}
        {{- if .ssh_known_hosts }}
        ssh_known_hosts: |
          {{- .ssh_known_hosts | nindent 10 }}
        {{- end }}
        {{- if .local_path }}
        local_path: {{ .local_path | quote }}
        {{- end }}
        {{- if .poll_interval }}
        poll_interval: {{ .poll_interval | quote }}
        {{- end }}
        {{- if .checkout }}
        checkout: {{ .checkout | quote }}
        {{- end }}
        {{- if .openvox }}
        openvox: {{ .openvox }}
        {{- end }}
        {{- with .branches }}
        branches:
          {{- range . }}
          - {{ . | quote }}
          {{- end }}
        {{- end }}
        {{- with .tags }}
        tags:
          {{- range . }}
          - {{ . | quote }}
          {{- end }}
        {{- end }}
    {{- end }}
{{- end }}
