apiVersion: v1
kind: Secret
metadata:
  name: {{ template "traefik-forward-auth.fullname" . }}-clientsecret
type: Opaque
data:
  clientSecret: {{ required "traefikForwardAuth.clientSecret is required" .Values.traefikForwardAuth.clientSecret.value | b64enc | quote }}
