step-issuer:
  stepClusterIssuer:
    create: false

# Generate this by running `step ca init --helm > values.yaml`
# Open the values.yaml file and use values from there

step-certificates:
  inject:
    enabled: true
    config:
      files:
        ca.json:
          # Add your custom dns names 
          dnsNames:
            - k8sdemo.kubeaid.io
            - step-ca-step-certificates.step-ca.svc.cluster.local
            - 127.0.0.1
        defaults.json:
          # Add your Certificate Authority URL (typically the ingress url)
          ca-url: https://ca.k8sdemo.kubeaid.io

          # Add fingerprint from the generated values.yaml 
          fingerprint: 2bb4f98b6e66bd86b72e69d402856b9035732c8894e4553de4f8c234d11f4a25   # replace this
  autocert:
    enabled: false
  ca:
    name: Kubeaid CA
    dns: k8sdemo.kubeaid.io,step-ca-step-certificates.step-ca.svc.cluster.local,127.0.0.1
    url: https://step-ca-step-certificates.step-ca.svc.cluster.local
    bootstrap:
      # 90 days
      postInitHook: |
        step ca provisioner update admin --x509-max-dur 2160h --x509-default-dur 2160h

autocert:
  enabled: false
  autocert:
    # 90 days
    certLifetime: 2160h
  step-certificates:
    enabled: false
    autocert:
      enabled: false

trust-manager:
  app:
    trust:
      # step-ca is the default namespace
      # user can change namespace, but need to update it here as well.
      namespace: step-ca
  secretTargets:
    enabled: true
    authorizedSecrets:
      - step-ca-bundle

stepClusterIssuer:
  root_ca: |
