# Generate this by running `step ca init --helm > values.yaml`
# Open the values.yaml file and use values from there

step-certificates:
  inject:
    enabled: false
  autocert:
    enabled: false
  ca:
    dns: step-ca-step-certificates.step-ca.svc.cluster.local,127.0.0.1
    url: https://step-ca-step-certificates.step-ca.svc.cluster.local
    bootstrap:
      # 90 days
      postInitHook: |
        step ca provisioner add acme --type ACME
        step ca provisioner update admin --x509-max-dur 2160h --x509-default-dur 2160h

autocert:
  enabled: false
  autocert:
    # 90 days
    certLifetime: 2160h
  step-certificates:
    enabled: false
    autocert:
      enabled: false

trust-manager:
  app:
    trust:
      # step-ca is the default namespace
      # user can change namespace, but need to update it here as well.
      namespace: step-ca
  secretTargets:
    enabled: true
    authorizedSecrets:
      - step-ca-bundle
