apiVersion: v1
kind: Service
metadata:
  name: {{ include "alovoa.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "alovoa.labels" . | nindent 4 }}
  {{- with .Values.service.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort | default .Values.alovoa.serverPort | default 8080 }}
      protocol: TCP
      name: http
  selector:
    {{- include "alovoa.selectorLabels" . | nindent 4 }}

