location = "North Europe"
subnet_id = "/subscriptions/bd59662e-a78e-4/resourceGroups/obmondo-aks/providers/Microsoft.Network/virtualNetworks/obmondo-vnet/subnets/obmondo-subnet"
vm_name = "vpn-az1"
vm_size = "Standard_D2_v4"
resource_group = "obmondo-aks"
storage_account = "obmondo"
subscription_id = "bd59662esnwqoiqno"
domain = "example.com
tags = {}
admin_account_passwordstore_path = server/vpn-az1/user/ubuntu
wg_client_pubkey = "HBu2xw9U9plaO6N/ySBcU"
wg_address = "10.0.0.1/24"
wg_peer_address = "10.0.0.2/24"
public_iface = "wg0"
