sonarqube:
  revisionHistoryLimit: 0
  nginx:
    enabled: false
  postgresql:
    enabled: false
  resources:
    limits:
      cpu: null
  plugins:
    install:
      - "https://github.com/vaulttec/sonar-auth-oidc/releases/download/v2.1.1/sonar-auth-oidc-plugin-2.1.1.jar"
  account:
    adminPasswordSecretName: sonarqube-admin-credentials
  jdbcOverwrite:
    enable: true
    jdbcSecretName: sonarqube.sonarqube-pgsql.credentials.postgresql.acid.zalan.do
    jdbcSecretPasswordKey: password
    jdbcUrl: "jdbc:postgresql://sonarqube-pgsql/sonarqube?socketTimeout=1500"
    jdbcUsername: sonarqube

postgresql:
  size: 4Gi

networkpolicies: false

blackbox:
  probe: true
