{{- if eq .Values.controlPlaneType "baremetal" }}
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: HetznerBareMetalMachineTemplate
metadata:
  name: {{ .Values.global.clusterName }}-control-plane
spec:
  template:
    spec:
      installImage:
        image:
          path: {{ .Values.installImage.controlPlane.imagePath }}
        partitions:
        - fileSystem: esp
          mount: /boot/efi
          size: 512M
        - fileSystem: ext4
          mount: /boot
          size: 1024M
        - fileSystem: ext4
          mount: /
          size: {{ .Values.installImage.controlPlane.rootPartitionSize }}
        postInstallScript: |
          #!/bin/bash
          mkdir -p /etc/cloud/cloud.cfg.d && touch /etc/cloud/cloud.cfg.d/99-custom-networking.cfg
          echo "network: { config: disabled }" > /etc/cloud/cloud.cfg.d/99-custom-networking.cfg
          apt-get update && apt-get install -y cloud-init apparmor apparmor-utils
          cloud-init clean --logs
        swRaid: {{ .Values.installImage.controlPlane.swRaid }}
      sshSpec:
        portAfterCloudInit: 22
        portAfterInstallImage: 22
        secretRef:
          key:
            name: sshkey-name
            privateKey: ssh-privatekey
            publicKey: ssh-publickey
          name: robot-ssh
{{- end }}