{{- range $key, $value := .Values.nodes }}
apiVersion: infrastructure.cluster.x-k8s.io/v1beta1
kind: HetznerBareMetalHost
metadata:
  name: {{ $value.name }}
  namespace: capi-cluster-{{ .Values.global.customerid }}
  labels:
    role: {{ $.Values.global.clusterName }}-control-plane
spec:
  serverID: {{ $key }}
  maintenanceMode: {{ $value.maintenanceMode }}
  rootDeviceHints:
    raid:
      wwn:
      {{- range $value.wwn }}
        - {{ . | quote }}
      {{- end }}
  description: "Cluster {{ $.Values.global.clusterName }} control plane node {{ $value.name }}"
---
{{- end }}
