groups:
  - name: monitor::domains
    rules:
    - alert: monitor::domains::status
      expr: |
        probe_http_status_code != 0 and probe_http_content_length > 0
        and on(certname) obmondo_monitoring{alert_id="monitor::domains::status"} > 0
      labels:
        severity: critical
        alert_id: monitor::domains::status
      annotations:
        summary: "For server **{{ $labels.certname }}**,this **{{ $labels.domain }}** domain is down"
        description: Domain {{ $labels.domain }} is down for certname {{ $labels.certname }}. Please fix this.
