flohmarkt:
  replicaCount: 1
  image:
    repository: harbor.obmondo.com/obmondo/flohmarkt
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  containerPort: 8000
  envFrom:
    configMap: flohmarkt-env
    secret: flohmarkt-secrets
  persistence:
    enabled: true
    claimName: flohmarkt-data
    mountPath: /var/lib/flohmarkt

couchdb:
  replicas: 1
  image:
    repository: couchdb
    tag: "3.3"
  secretName: flohmarkt-db
  storage: 10Gi

