replicaCount: 1

image:
  repository: harbor.obmondo.com/obmondo/flohmarkt
  tag: "1.0.0"
  pullPolicy: IfNotPresent

command:
  args:
    - web

service:
  type: ClusterIP
  port: 80
  targetPort: 8000

containerPort: 8000

envFrom:
  configMap: flohmarkt-env
  secret: flohmarkt-secrets

persistence:
  enabled: true
  claimName: flohmarkt-data
  mountPath: /var/lib/flohmarkt

labels:
  app: flohmarkt

postgresql:
  enabled: true
externalDatabase:
  host: flohmarkt-db
  port: 5432
  user: flohmarkt
  password: flohmarktpass
  database: flohmarkt
