flohmarkt:
  replicaCount: 1
  image:
    repository: harbor.obmondo.com/obmondo/flohmarkt
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  containerPort: 8000
  env:
    FLOHMARKT_DB_HOST: flohmarkt-couchdb
    FLOHMARKT_DB_PORT: "5984"
    FLOHMARKT_DB_NAME: flohmarkt

  envFrom:
    configMap: flohmarkt-env
    secret: flohmarkt-secrets
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 5Gi

couchdb:
  replicas: 1
  image:
    repository: couchdb
    tag: "3.3"
  secretName: flohmarkt-db
  storage: 10Gi

ingress:
  enabled: true
  className: "traefik"
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt
  hosts:
    - host: flohmarkt.eusafe.eu
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: flohmarkt-tls
      hosts:
        - flohmarkt.eusafe.eu

service:
  name: flohmarkt
  port: 80
