image:
  repository: myrepo/flohmarkt
  tag: "1.0.0"
  pullPolicy: IfNotPresent
postgresql:
  enabled: true
externalDatabase:
  host: flohmarkt-db
  port: 5432
  user: flohmarkt
  password: flohmarktpass
  database: flohmarkt
