flohmarkt:
  replicaCount: 1
  image:
    repository: harbor.obmondo.com/obmondo/flohmarkt
    tag: "1.0.0"
    pullPolicy: IfNotPresent
  containerPort: 8000
  envFrom:
    configMap: flohmarkt-env
    secret: flohmarkt-secrets
  persistence:
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 5Gi

couchdb:
  replicas: 1
  image:
    repository: couchdb
    tag: "3.3"
  secretName: flohmarkt-db
  storage: 10Gi

ingress:
  enabled: true
  host: flohmarkt.example.com
  path: /
  pathType: Prefix
  annotations: {}
  tls:
    enabled: false
    secretName: ""

service:
  name: flohmarkt
  port: 80
